.Block {
    position: relative;
    margin: 0px auto 0px auto;
    padding: 110px 80px;
}

.Block.teamBlock, 
.Block.faqBlock {
    background: linear-gradient(180deg, #161418, #0a080c 40%);
}

.features {
    margin-top: 90px;
    transition: transform 0.3s ease;
}
.feature:hover {
    transform: scale(1.15); /* Slightly scale and tilt */
    transition: transform 0.3s ease;
    


}

.features .feature:not(:nth-child(1)) {
    margin-top: 90px;
}

.features .feature:nth-child(even) {
    flex-direction: row-reverse;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
    max-width: 1100px;
    gap: 80px;
    z-index: 1;
}

.featureImg {
    display: flex;
    background: linear-gradient(180deg, #161418, #0a080c 40%);
    border: 1px solid #ffffff0f;
    max-width: 524px;
    border-radius: 1rem;
    padding: 32px;
}

.featureHead {
    font-size: 28px;
    font-weight: 550;
}

.featureHead.solutionHead {
    font-size: 19px;
}

.featureDesc {
    color: grey;
    margin-top: 1.1rem;
    max-width: 396px;
    font-weight: 550;
    line-height: 1.5em;
}

@media(max-width: 1100px) {
    .feature, 
    .features .feature:nth-child(even) {
        flex-direction: column-reverse;
        gap: 50px;
    }
}

@media(max-width: 670px) {
    .Block {
        padding: 110px 50px;
    }
}

@media(max-width: 530px) {
    .feature {
        gap: 40px;
    }
}

@media(max-width: 500px) {
    .featureHead {
        font-size: 25px;
    }
}

@media(max-width: 460px) {
    .Block {
        padding: 110px 35px;
    }
}