.list {
    background-color: #18181B;
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    margin: 45px auto 0px auto;
    border: 1px solid #27272A;
    gap: 15px;
    padding: 10px 10px 10px 25px;
    border-radius: 1rem;
    z-index: 3;
}

.list button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #693def;
    border-radius: .5rem;
    font-size: 16px;
    padding: 12.5px 15px;

    &:hover {
        background-color: #7f58f4;
    }
}

.list input {
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    width: 330px;
}

.list input::placeholder {
    color: grey;
}

@media(max-width: 610px) {
    .list {
        flex-direction: column;
        width: 100%;
        gap: 12.5px;
    }

    .list input, 
    .list button {
        width: 100%;
        padding: 15px;
    }

    .list input {
        padding: 15px 0px;
    }
}