.sectionHead {
    margin: auto;
    max-width: 1100px;
}
.subHead {
    margin: auto;
    max-width: 1100px;
    margin-top: 20px;
    align-items: center;
    
}

.Block.solutionsBlock {
    text-align: center;
}

.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution {
    margin-bottom: 20px;
}

.solution img {
    margin: 0 auto;
}



.solutions {
    position: relative;
    display: grid;
    margin: auto;
    max-width: 1100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 90px;
    z-index: 1;
    
}

.solution {
    background: linear-gradient(180deg, #161418, #0a080c 40%);
    border: 1px solid #ffffff0f;
    border-radius: 1rem;
    padding: 32px;
}

@media(max-width: 1100px) {
    .solutions {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 800px) {
    .solutions {
        grid-template-columns: 1fr;
    }
}