.soonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    font-size: 14px;
}

.soonTitle {
    padding: 12.5px 0px;
}

@media(max-width: 1100px) {
    .soonGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 650px) {
    .soonGrid {
        grid-template-columns: 1fr;
    }
}