@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  transition: 0.3s;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Inter", serif;
  scroll-behavior: smooth;
  color: white;
}

*::-webkit-scrollbar {
  display: none;
}